<p id="notice"><%= notice %></p>

<h2><%= @beer_club.name %></h2>

<p>
  <em>Founded in <%= @beer_club.founded %></em>
</p>

<p>Located in <%= @beer_club.city %></p>

<h2>Members</h2>
<% if @beer_club.users.empty? %>
  <p>The club has no members yet.</p>
<% else %>
  <ul>
    <% @beer_club.users.each do |user| %>
      <li><%= link_to user.username, user %></li>
    <% end %>
  </ul>
<% end %>

<% if current_user %>
  <% if @membership.valid? %>
    <%= form_for(@membership) do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value: 'Join the club'%>
    <% end %>
  <% end %>

  <p>
    <%= link_to 'Edit', edit_beer_club_path(@beer_club) %> |
    <%= link_to 'Destroy', @beer_club, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
