<h2><%= @beer_club.name %></h2>

<p>
  <em>Founded in <%= @beer_club.founded %></em>
</p>

<p>Located in <%= @beer_club.city %></p>

<h2>Members</h2>
<% if @beer_club.memberships.approved.empty? %>
  <p>The club has no members yet.</p>
<% else %>
  <ul>
    <% @beer_club.memberships.approved.each do |membership| %>
      <li><%= link_to membership.user.username, membership.user %></li>
    <% end %>
  </ul>
<% end %>

<% if current_user && @beer_club.memberships.pending.exists?(user_id: current_user.id) %>
  <p>
    <strong>Your application to join the club is pending for approval!</strong>
  </p>
<% end %>

<% if current_user && @beer_club.memberships.approved.exists?(user_id: current_user.id) %>
  <% if @beer_club.memberships.pending.empty? %>
    <p>No pending applications.</p>
  <% elsif %>
    <p>
      <strong>Outstanding applications</strong>
    </p>

    <ul>
      <% @beer_club.memberships.pending.each do |application| %>
        <li>
          <%= link_to application.user.username, application.user %>
          <%= link_to 'confirm', confirm_membership_path(user_id: application.user.id,
                                                         beer_club_id: @beer_club.id),
                                                         method: :put, class: "btn btn-primary btn-xs" %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% if current_user %>
  <p>
    <% if @membership.valid? %>
      <%= form_for(@membership) do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit value: 'Join the club', class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <%= form_for(@membership, method: 'delete') do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit value: 'End the membership', class: "btn btn-danger" %>
      <% end %>
    <% end %>
  </p>

  <% if admin_user || @beer_club.memberships.approved.exists?(user_id: current_user.id) %>
    <p>
      <%= edit_and_destroy_buttons(@beer_club) %>
    </p>
  <% end %>
<% end %>
