<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>

<% if @user.ratings.empty? %>
  <p>has made no ratings yet</p>
<% else %>
  <p>has made <%= pluralize(@user.ratings.count, "rating") %> (average <%= @user.average_rating %>)</p>

  <h2>ratings</h2>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @user == current_user %>
  <p>Account management</p>
  <p>
    <%= link_to 'Edit', edit_user_path %> |
    <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
