<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>

<% if @user.ratings.empty? %>
  <p>has made no ratings yet</p>
<% else %>
  <p>has made <%= @user.ratings.count %> ratings (average <%= @user.average_rating %>)</p>

  <h2>ratings</h2>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <%= link_to 'delete', rating, method: :delete %>
      </li>
    <% end %>
  </ul>
<% end %>
