<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>

<% if @user.ratings.empty? %>
  <p>has made no ratings yet</p>
<% else %>
  <p>has made <%= pluralize(@user.ratings.count, "rating") %> (average <%= @user.average_rating %>)</p>
  <p>Favorite style: <%= @user.favorite_style %></p>
  <p>Favorite brewery: <%= @user.favorite_brewery.name %></p>

  <h2>ratings</h2>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<h2>beer clubs</h2>
<% if @user.beer_clubs.empty? %>
  <p>is not a member of any beer club</p>
<% else %>
  <p>is a member of <%= pluralize(@user.beer_clubs.count, 'beer club', 'beer clubs') %>:</p>
  <ul>
    <% @user.beer_clubs.each do |club| %>
      <li>
        <%= link_to club %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @user == current_user %>
  <h2>account management</h2>
  <p>
    <%= link_to 'Edit', edit_user_path, class: 'btn btn-primary' %>
    <%= link_to 'Destroy', user_path, method: :delete,
                                      data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </p>
<% end %>
