<h2><%= @style.name %></h2>

<p><%= @style.description %></p>

<strong>Beers</strong>

<% if @style.beers.empty? %>
  <p>No beers of this type.</p>
<% else %>
  <ul>
    <% @style.beers.each do |beer| %>
      <li>
        <%= link_to beer.name, beer %> by <%= link_to beer.brewery, beer.brewery %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= edit_and_destroy_buttons(@style) %>
