<p id="notice"><%= notice %></p>

<h2><%= @brewery.name %></h2>

<em>Established in <%= @brewery.year %></em>

<p>Number of beers: <%= @brewery.beers.count %></p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
