<p id="notice"><%= notice %></p>

<h2><%= @brewery.name %></h2>

<em>Established in <%= @brewery.year %></em>

<p>Number of beers: <%= @brewery.beers.count %></p>

<p>
  <% @brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %>
  <% end %>
</p>

<% if !@brewery.ratings.empty? %>
  <p>
    Has <%= pluralize(@brewery.ratings.count, 'rating') %>, average <%= @brewery.average_rating %>
  </p>
<% end %>

<% if current_user %>
  <%= link_to 'Edit', edit_brewery_path(@brewery) %> |
  <%= link_to 'Destroy', @brewery, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
