<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery %>
</p>

<p>
  <% if @beer.ratings.empty? %>
    Beer has not yet been rated!
  <% else %>
    Has <%= pluralize(@beer.ratings.count, 'rating') %>, average <%= @beer.average_rating %>
  <% end %>
</p>

<% if current_user %>
  <h4>give a rating:</h4>

  <p>
    <%= form_for(@rating) do |f| %>
      <%= f.hidden_field :beer_id %>
      score: <%= f.number_field :score %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </p>
<% end %>

<%= edit_and_destroy_buttons(@beer) %>
